.listcontainer {
    box-sizing: border-box;
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
}

.showlist {
    margin: 10px;
    width: 100%;
}

.dblists {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;

}

.listtitle {

    display: inline-block;
    font-size: 15px;
    align-items: center;
    border-bottom: solid rgba(116, 115, 115, 0.486) 1px;

}

.listtitle:hover {
    background-color: rgba(178, 248, 225, 0.6);
}


img {
    margin: 3px;
}

p {
    display: flex;
    font-size: 15px;
    align-items: center;
}

@media (max-width:992px) {
    .listcontainer {
        height: 300px;
        width: 100%;
    }
}