.listcontainer {
    box-sizing: border-box;
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
}

.showlist {
    margin: 10px;



}

.listtitle:hover {
    background-color: rgba(178, 248, 225, 0.6);
    border-radius: 10px;
}

.listtitle {

    display: inline-block;
    font-size: 15px;
    align-items: center;

}

img {
    margin: 3px;
}

p {
    display: flex;
    font-size: 15px;
    align-items: center;
}

@media (max-width:992px) {
    .listcontainer {
        height: 300px;
        width: 100%;
    }
}