.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 20px;
}

@media (max-width:992px) {
    .moviecard {
        margin-top: 20px;
    }
}